@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "WTC_W00";
    src: url("../fonts/wtcmader.eot?#iefix");
    src: url("../fonts/wtcmader.eot?#iefix") format("eot"), url("../fonts/wtcmader.woff2") format("woff2"), url("../fonts/wtcmader.woff") format("woff"), url("../fonts/wtcmader.ttf") format("truetype");
}

@font-face {
    font-family: "Futura_Std_book";
    src: url("../fonts/futuraStdBook.eot?#iefix");
    src: url("../fonts/futuraStdBook.eot?#iefix") format("eot"), url("../fonts/futuraStdBook.woff2") format("woff2"), url("../fonts/futuraStdBook.woff") format("woff"), url("../fonts/futuraStdBook.ttf") format("truetype");
}

.uxoverlay {
    position: fixed;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background: #000;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/intro-age/view-overlay.jpg);
    background-position: center;
    background-size: cover;
    z-index: 999;
}

.uxoverlay__wrap {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.uxoverlay p {
    font-size: 27px;
    margin-bottom: 34px;
}

.age-input {
    -webkit-appearance: none;
    display: block;
    background: transparent;
    border: 2px solid #ffffff;
    padding: 19px 22px;
    box-sizing: border-box;
    box-shadow: none;
    color: #cccccc;
    font-size: 66px;
    line-height: 1em;
    letter-spacing: 0.025em;
    width: 96px;
    font-family: inherit;
    text-align: center;
    font-family: "WTC_W00";
}

.age-input.year {
    width: 150px;
}

.age-label {
    display: block;
    margin: 16px auto;
    color: #cccccc;
    font-size: 25px;
    line-height: 1em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: "WTC_W00";
}

#age #ageForm ul.wrapper_footer {
    margin-top: 30px;
    text-align: center;
}

.borderWhite {
    border: 10px solid transparent;
    /* -webkit-border-image: url(img/border-button.png) 18 round; */
    -o-border-image: url(../images/intro-age/border-button.png) 18 round;
    border-image: url(../images/intro-age/border-button.png) 18 round;
    border-image-slice: 18;
    /* -webkit-appearance: none; */
    display: inline-block;
    margin: 0 auto;
    background: none;
    color: #FFF;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 23px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 100;
    font-family: "WTC_W00";
}

.uxfont {
    font-family: "WTC_W00" !important;
    font-weight: 100 !important;
}

.uxbtn {
    background: #1d1d1d;
    cursor: pointer;
}

.uxfilter {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.uxinfo {
    padding-top: 32px;
}

.uxinfo p {
    margin-bottom: 30px;
}

.uxfaqs p {
    margin-top: 3px !important;
}


body {
    font-family: 'Roboto Condensed', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tour-page {
    .swiper-container {
        @apply rounded-md;
    }
    .swiper-pagination-bullet {
        background-color: theme('colors.red-theme');
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }
}
